<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html"/>
  <head>
    <title>SVN users</title>
  </head>

  <body>
    <h2>SVN users</h2>

    <form method="post" action="" class="mod">
      <fieldset>
        <legend>Add / Modify SVN user:</legend>
        <div class="field">
          <label>Username:</label><br />
          <input type="text" name="username" value="${username}" />
        </div>
        <div class="field">
          <label>Password:</label><br />
          <input type="password" name="password" value="${password}" />
        </div>
        <div class="buttons">
          <input type="submit" name="add" value="${_('Save')}" />
        </div>
      </fieldset>
    </form>

    <form method="post" action="" class="mod">
      <fieldset>
        <legend>Delete SVN user:</legend>
        <div class="field">
          <label>Username:</label><br />
          <input type="text" name="username" value="${username}" />
        </div>
        <div class="buttons">
          <input type="submit" name="del" value="${_('Delete')}" />
        </div>
      </fieldset>
    </form>

  </body>
</html>
